<div class="contenedor">
  <div *ngIf="valor1">
    <h2>
      texto 1
    </h2>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate earum dolor ea dignissimos nisi eos porro
      temporibus, laboriosam labore odit accusamus voluptatem ullam eaque! Porro molestias quos tempore excepturi
      minima?
    </p>
  </div>
</div>
<div class="contenedor">
  <div *ngIf="valor2">
    <h2>
      texto 2
    </h2>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate earum dolor ea dignissimos nisi eos porro
      temporibus, laboriosam labore odit accusamus voluptatem ullam eaque! Porro molestias quos tempore excepturi
      minima?
    </p>
  </div>
</div>
<hr>

<button (click)="valor1 = true">texto1</button>

<button (click)="valor2 = !valor2">texto2</button>

<hr>

<p>valor1: {{ valor1 }}</p>
<p>valor1: {{ valor2 }}</p>
